/* Kleurvariabelen */
:root {
    --primary-color: #E84138FF;
    --secondary-color: white;
    --tertiary-color: #7B7A80FF;
}

/* Algemene stijl */
body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 10px;
}

.container {
    max-width: 800px; /* Vergroot voor de bredere tweede tabel */
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

/* Verlof info stijl */
.verlof-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* Tabelcontainer met ronde hoeken */
.table-container {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Tabelstijl */
.custom-table {
    width: 100%;
    border-collapse: collapse;
}

/* Koptekst */
.custom-table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px; /* Verminderde padding */
    text-align: center;
    font-weight: bold;
    font-size: 14px; /* Kleinere tekst */
}

/* Cellen */
.custom-table td {
    padding: 0px 0px; /* Verminderde padding */
    text-align: center;
    color: var(--secondary-color);
    border-top: 1px solid var(--primary-color);
    background-color: var(--tertiary-color);
    font-size: 13px; /* Kleinere tekst */
}

/* Voettekst */
.custom-table tfoot td {
    font-weight: bold;
    border-top: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px; /* Verminderde padding */
}

/* Inputvelden */
.percentage-input, .opgenomen-uren {
    width: 90%;
    padding: 0px 1px;/* Verminderde padding */
    font-size: 13px; /* Kleinere tekst */
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 26px; /* Vaste hoogte voor consistentie */
}

.percentage-input::placeholder {
    color: var(--primary-color);
    opacity: 0.7;
}

/* Verwijder pijltjes van number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Compactere rijen */
.custom-table tr {
    line-height: 1; /* Verminderde regelhoogte */
}